---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import Process from '../components/Process.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Products />
    <About />
    <Process />
    <Testimonials />
    <FAQ />
    <Contact />
  </main>
  <Footer />
</Layout>
